langchain==0.3.8
langchain-openai==0.2.9
langchain-anthropic==0.3.0
python-telegram-bot==21.7
python-dotenv==1.0.1
twitter-api-client==0.10.22
tweepy==4.14.0
langchain_community==0.3.8
alembic==1.14.0